/*********************/
/* Importing Font */
/*********************/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap");

/*********************/
/* Root Variables */
/*********************/

:root {
  --color-body--dark: #070211;
  --color-body--light: #ffffffcc;
  --color-red: #f00;
  --color-white: #ffffff;

  --merriweather: "Merriweather", serif;
  --inter: "Inter", sans-serif;
}

/*********************/
/* Basic Styles */
/*********************/

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-white);
  box-sizing: border-box;
  color: var(--color-body--dark);
  font-family: var(--inter);
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;
}

/*********************/
/* Reuseable Classes and Styles */
/*********************/

.container {
  margin: 0 auto;
  max-width: 132rem;
}

.join-btn:link,
.join-btn:visited {
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  background-color: var(--color-red);
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.join-btn:hover,
.join-btn:active {
  transform: translateY(-0.5rem);
}

.heading-tertiary {
  font-family: var(--merriweather);
  font-size: 4.8rem;
  font-weight: 900;
  text-transform: capitalize;
}

.heading-tertiary-supporting {
  color: #f00;
  font-size: 2.4rem;
  text-transform: uppercase;
}

/*********************/
/* Header Section */
/*********************/

.section-header {
  margin-top: 5rem;
}

.hero {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/banner-image.png");
  align-items: center;
  background-size: cover;
  border-radius: 1.6rem;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  font-family: "Merriweather", serif;
  gap: 1.6rem;
  height: 60rem;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}

.heading-primary {
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 9.5rem;
  max-width: 63rem;
}

.heading-supporting {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
}

/*********************/
/* Banner Section */
/*********************/

.section-banner {
  margin: 12rem 0;
}

.banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.banner-heading {
  color: var(--color-red);
  font-size: 8.8rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
}
.banner__category-title--main {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
}
.banner__category-title--sub {
  color: var(--color-red);
  font-size: 2.4rem;

  margin-bottom: 0.8rem;
}
.banner__image {
  max-width: 80rem;
}

/*********************/
/* Welcome Section */
/*********************/

.section-welcome {
  margin-bottom: 12rem;
}

.welcome {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/welcome-bg.png");
  align-items: center;
  background-size: cover;
  border-radius: 1.6rem;
  display: flex;
  gap: 3rem;
  height: 60rem;
  justify-content: space-between;
  padding: 7rem 13rem;
}

.welcome__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.heading-secondary {
  color: var(--color-white);
  font-family: var(--merriweather);
  font-size: 6.4rem;
  letter-spacing: 0.704rem;
  line-height: 8.8rem;
  max-width: 65rem;
}
.welcome__paragraph {
  color: var(--color-body--light);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.welcome__image-box {
  min-width: 23%;
}

.welcome__image {
  width: 100%;
}

/*********************/
/* Event Section */
/*********************/

.section-event {
  margin-bottom: 12rem;
}

.event {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  align-items: center;
  border-radius: 1.6rem;
  color: var(--color-body--dark);
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  height: 48rem;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}

.event__text-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.event__text {
  font-size: 3.2rem;
  font-weight: 600;
}

.event__text--colored {
  color: var(--color-red);
}

/*********************/
/* Offer Section */
/*********************/

.section-offer {
  margin-bottom: 20rem;
}

.offer {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.offer__left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 30%;
}

.offer__middle {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.offer__right {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  width: 30%;
}

.offer__paragraph {
  font-weight: 400;
  line-height: 3.2rem;
}

.offer__image {
  border-radius: 100%;
  max-width: 35rem;
  outline-offset: 3rem;
  outline: 2rem solid red;
}

.offer__heading-right {
  color: var(--color-red);
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.offer__icon {
  max-width: 14rem;
}

/*********************/
/* Holiday Section */
/*********************/

.section-holiday {
  margin-bottom: 12rem;
}

.holiday__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 10rem;
  text-align: center;
}

.holiday-heading {
  font-family: var(--merriweather);
  font-size: 7.2rem;
  font-weight: 900;
}

.holiday-heading--colored {
  color: var(--color-red);
}

.holiday-heading-supporting {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.holiday__paragraph {
  font-weight: 500;
  line-height: 3.2rem;
  max-width: 100rem;
}

.holiday-banner {
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.holiday-banner__top {
  display: flex;
  justify-content: space-between;
}

.holiday-banner__top-left {
  position: relative;
  width: 60%;
}

.holiday-banner__top-left img {
  border-radius: 100%;
  border: 1.5rem solid var(--color-white);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 30%;
}

.holiday-banner__top-right {
  display: flex;
  width: 40%;
}

.holiday-banner__top-right img {
  width: 100%;
}

.holiday-banner__bottom {
  background-color: var(--color-red);
  height: 24rem;
  position: relative;
  width: 100%;
}

.holiday-banner__bottom img {
  left: 10rem;
  position: absolute;
  top: -25rem;
  width: 50rem;
}

/*********************/
/* Portfolio Section */
/*********************/

.section-portfolio {
  margin-bottom: 12rem;
}

.portfolio__text-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.portfolio__paragraph {
  width: 100rem;
}

.portfolio__gallery {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 10rem;
}
.portfolio__gallery img {
  border-radius: 1.5rem;
  transition: all 0.2s;
}

.portfolio__gallery img:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.05);
}

/*********************/
/* Newsletter Section */
/*********************/

.section-newsletter {
  margin-bottom: 12rem;
}

.newsletter {
  align-items: center;
  background: rgba(255, 0, 0, 0.05);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 10rem;
  text-align: center;
}

.newsletter__paragraph {
  margin-bottom: 4rem;
  width: 90rem;
}

.newsletter__email-field {
  border-radius: 5rem 0 0 5rem;
  border: 0;
  color: rgba(7, 2, 17, 0.3);
  font-size: 1.8rem;
  font-weight: 400;
  outline: 0;
  padding: 2.5rem 5rem;
  width: 60rem;
}

.newsletter__btn {
  background-color: var(--color-red);
  border-radius: 0 5rem 5rem 0;
  border: 0;
  color: #fff;
  font-weight: 600;
  outline: 0;
  padding: 2.5rem 5rem;
  text-transform: uppercase;
}
